<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.hdj.datepick.ui">


    <application>

        <provider
            android:name="app.hdj.datepick.ui.fonts.FontsProvider"
            android:authorities="app.hdj.datepick.provider.fonts"
            android:exported="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>